html, body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
}



/** Fonter */
body,
input,
select,
textarea {
	/* font etc */
	font-family: Tahoma, Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
}


/** Bilder */
img {
	border: 0;
}


/** overskrifter */
h1, h2, h3, h4, h5, h6 {
	font-familiy: Tahoma, Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	
	margin: 0;
	padding: 0;
}

/* heading 1 */
h1 {
	color: #000;
}

/* heading 2 */
h2 {
	color: #000;
}


/** Avsnitt */
p {
	padding: 0;
}


/** Forskjellige tekst størrelser og margins */
h1 { font-size: 18px; margin: 1em /*0.67em*/ 0 }
h2 { font-size: 16px; margin: 1em /*0.75em*/ 0 }
h3 { font-size: 14px; margin: 1em /*0.83em*/ 0 }
h4, p, .p, blockquote, ul, fieldset, form, ol, dl, dir, menu { margin: 1em 0 }
h5 { font-size: 10px; margin: 1em /*1.5em*/ 0 }
h6 { font-size: 10px; margin: 1em /*1.67em*/ 0 }


/** Linker */
a, .fakelink {
	color: #7000B0;
	text-decoration: underline;
	cursor: pointer;
}
a:hover, .fakelink:hover {
	color: #E04000;
	text-decoration: underline;
	cursor: pointer;
}


/**
 * Horisontal linje
 * Syntax: <div class="hr"><hr /></div>
 */
hr { display: none }
div.hr {
	border-bottom: 1px dashed #383838;
	margin: 1.4em 0;
	padding: 0;
}




/** Feilmeldinger og informasjonsmeldinger */
.error_box {
	margin: 1em 0; /* 10px 0 0 0 */
	padding: 0.5em; /* 5px */
	background: #AA5555 url(../../img/exclamation.png) no-repeat 5px 5px !important;
	padding-left: 26px !important;
	color: #EEEEEE !important;
}
.info_box {
	margin: 1em 0; /* 10px 0 10px 0 */
	padding: 0.5em; /* 5px */
	background: #335566 url(../../img/information.png) no-repeat 5px 5px !important;
	padding-left: 26px !important;
	color: #EEEEEE !important;
}
.information {
	background-color: #335566;
}
.info_box_img {
	margin: 1px 5px 2px 0;
	float: left;
}
.error_box p, .info_box p { margin: 0 !important }
.error_box p + p, .info_box p + p { margin-top: 0.5em !important }

/* advarsel/varsel felt */
.warning, .information {
	background: #663333 url(../../img/exclamation.png) no-repeat 5px center;
	margin: 10px 0;
	padding: 0 10px 0 26px;
	overflow: hidden;
}
.information {
	background: #335566 url(../../img/information.png) no-repeat 5px center;
}


/** Justeringer av tekst */
tbody.r td, .r, .l .r, .c .r, .j .r {
	text-align: right !important;
}
tbody.l td, .l, .r .l, .c .l, .j .l {
	text-align: left !important;
}
tbody.c td, .c, .r .c, .l .c, .j .c {
	text-align: center !important;
}
tbody.j td, .j, .r .l, .r .j, .l .j {
	text-align: justify !important;
}

/** Fieldsets */
fieldset {
	margin: 1.3em 0; padding: 0 10px; border: 1px solid #878787;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #EEEEEE;
}
legend { color: #000; background-color: #EEE; padding: 3px 5px }
fieldset fieldset legend { color: #000; background-color: #EEE }


/** Tabeller */
table, .table {
	border-collapse: collapse;
}
.table {
	margin: 0; /* 15px 0 15px 0 */
	padding: 0;
	font-size: 11px;
}

/* margins (for å unngå firefox problem med margin-collapse pga. table table) */
.tablemt {
	margin-top: 1em;
}
.tablemb {
	margin-bottom: 1em;
}
.tablem {
	margin: 1em 0;
}


/* alle celler */
.table th, .table td {
	border-right: 1px solid #FAFAFA;
	border-bottom: 1px solid #FAFAFA;
}
.table th:last-child, .table td:last-child {
	border-right: 0;
}
.table tbody tr:last-child th, .table tbody tr:last-child td {
	border-bottom: 0;
}

/* heading */
.table th, .table thead td {
	font-weight: bold;
	background-color: #BBBBBB;
	text-align: center;
	
	padding: 0; /* 3px */
}
.table tbody th {
	text-align: left;
	padding: 5px 5px 4px 5px; /* 5px 5px 4px 5px */
	/*font-size: 11px;*/
	font-weight: normal;
	color: #444444;
	/*line-height: 1.2em;*/
}
.table th a {
	/* linker i overskrifter har ingen understrek */
	text-transform: none;
}

/* underoverskrift */
.table thead td {
	background-color: #AFAFAF;
	padding: 3px 3px 2px 3px; /* 3px 3px 2px 3px */
	/*font-size: 11px;*/
	font-weight: normal;
	color: #666666;
}

/* hovedoverskrifter */
.table thead th {
	padding: 5px 5px 4px 5px;
	/*font-size: 12px;*/
	font-weight: normal;
	color: #444444;
	/*line-height: 1.2em;*/
}

/* vanlige celler */
.table td {
	background-color: #EEEEEE;
	padding: 3px 5px;
}
.table tr.color td {
	/* egen bakgrunn (for forskjell på odd/even rader) */
	background-color: #F3F3F3;
}
.table tr.highlight td {
	/* highlight */
	background-color: #C6CCCC;
}

/* celler som brukes sammen med boxhandle */
.table .spacerfix td, .table.spacerfix td, td.spacerfix {
	padding: 4px 6px;
}



/** Standard bredder som kan brukes */
.w30 { width: 30px }
.w40 { width: 40px }
.w50 { width: 50px }
.w60 { width: 60px }
.w75 { width: 75px }
.w80 { width: 80px }
.w90 { width: 90px }
.w100 { width: 100px }
.w120 { width: 120px }
.w125 { width: 125px }
.w150 { width: 150px }
.w175 { width: 175px }
.w180 { width: 180px }
.w200 { width: 200px }
.w250 { width: 250px }
.w300 { width: 300px }
.w350 { width: 350px }
.w400 { width: 400px }
.w450 { width: 450px }


/** Skjemaer */
form {
	display: inline;
}


/** Skrivefelt */
input.styled {
	margin: 0;
	padding: 2px 4px;
	border: 1px solid #AAA;
	background-color: #FAFAFA;
	color: #000;
	text-decoration: none;
}
.trident5 input.styled {
	/* ie7 fix */
	vertical-align: -3px;
}
textarea {
	margin: 0;
	padding: 2px 4px; /* 2px 5px */
	border: 1px solid #DDD;
	background-color: #FFF;
	color: #000;
	resize: vertical;
}


/** Avmerkeringsbokser */
input[type=checkbox] {
	margin: 0;
	vertical-align: text-bottom;
}


/** Dropdown */
select {
	margin: 0; /* -2px 0 0 0 */
	padding: 0;
	border: 2px solid #CCC;
	background-color: #FAFAFA;
	color: #000;
	/*font-size: 12px;*/
}


/** Definisjonslister */
dt, dd {
	padding: 0;
	margin: 0;
}
dl {
	/*margin: 10px 0 10px 0;*/
	/*position: relative;*/
	overflow: hidden;
	max-width: 400px;
}
dt, dd {
	/*line-height: 1.7em;*/
	overflow: hidden;
}
dt {
	clear: both;
	float: left;
	padding: 3px 0 2px 0;
	/*padding: 3px 2px 2px 0;*/
	/*color: #CCCCCC;*/
	/*min-height: 19px;*/
	/*position: relative;*/
}
dd {
	float: right;
	clear: right;
	padding: 3px 0 2px 0;
	/*padding: 3px 0 2px 2px;*/
	/*min-height: 19px;*/
}

/* ulike bredder */
dl.dl_10 dd { width: 90% }
dl.dl_15 dd { width: 85% }
dl.dl_20 dd { width: 80% }
dl.dl_30 dd { width: 70% }
dl.dl_35 dd { width: 65% }
dl.dl_40 dd { width: 60% }
dl.dl_45 dd { width: 55% }
dl.dl_50 dd { width: 50% }
dl.dl_60 dd { width: 40% }
dl.dl_70 dd { width: 30% }

dl.dl_10, dl.dl_15, dl.dl_20, dl.dl_30, dl.dl_35, dl.dl_40, dl.dl_45, dl.dl_50, dl.dl_60, dl.dl_70 { max-width: none }


/* FIXME: størrelse må justeres på dd og ikke dt */
dl.dl_50px dt { width: 50px }
dl.dl_100px dt { width: 100px }
dl.dl_150px dt { width: 150px }
dl.dl_200px dt { width: 200px }

dl.dl_2x dt, dl.dl_2x dd { /*margin-bottom: 7px*/ }
dl.dl_2x dt { margin-top: 2px }
.dd_right dd { text-align: right }


/** Lister */
ul, ol {
	padding: 0 0 0 1.8em;
}
ol ul, ul ol, ul ul, ol ol {
	margin-top: 0;
	margin-bottom: 0;
}
ul.spacer li, ol.spacer li {
	margin-top: 1em;
}

/* ikke bruk som liste */
.nolist {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nolist li {
	margin: 0;
	padding: 0;
}


/** Runde hjørner (delvis CSS3 - funker ikke i IE og Opera) */
.r4, .r4l, .r4t, .r4tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px }
.r4, .r4r, .r4t, .r4tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px }
.r4, .r4l, .r4b, .r4bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px }
.r4, .r4r, .r4b, .r4br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px }

.r3, .r3l, .r3t, .r3tl { -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; border-top-left-radius: 7px }
.r3, .r3r, .r3t, .r3tr { -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; border-top-right-radius: 7px }
.r3, .r3l, .r3b, .r3bl { -moz-border-radius-bottomleft: 7px; -webkit-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px }
.r3, .r3r, .r3b, .r3br { -moz-border-radius-bottomright: 7px; -webkit-border-bottom-right-radius: 7px; border-bottom-right-radius: 7px }

.r2, .r2l, .r2t, .r2tl { -moz-border-radius-topleft: 11px; -webkit-border-top-left-radius: 11px; border-top-left-radius: 11px }
.r2, .r2r, .r2t, .r2tr { -moz-border-radius-topright: 11px; -webkit-border-top-right-radius: 11px; border-top-right-radius: 11px }
.r2, .r2l, .r2b, .r2bl { -moz-border-radius-bottomleft: 11px; -webkit-border-bottom-left-radius: 11px; border-bottom-left-radius: 11px }
.r2, .r2r, .r2b, .r2br { -moz-border-radius-bottomright: 11px; -webkit-border-bottom-right-radius: 11px; border-bottom-right-radius: 11px }

.r1, .r1l, .r1t, .r1tl { -moz-border-radius-topleft: 15px; -webkit-border-top-left-radius: 15px; border-top-left-radius: 15px }
.r1, .r1r, .r1t, .r1tr { -moz-border-radius-topright: 15px; -webkit-border-top-right-radius: 15px; border-top-right-radius: 15px }
.r1, .r1l, .r1b, .r1bl { -moz-border-radius-bottomleft: 15px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px }
.r1, .r1r, .r1b, .r1br { -moz-border-radius-bottomright: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px }

/* Plassere tekst til venstre/høyre i overskrifter */
.h_left, .h_right, .h_right_big {
	float: right;
	margin: -28px 0 0 0 !important;
	font-size: 11px;
	/*font-weight: normal;
	text-transform: none;
	text-decoration: none;*/
	color: #888888;
	position: relative; /* gjøre det synlig */
}
.h_left {
	float: left;
}
.h_left a, .h_right a, .h_right_big a {
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	text-decoration: none;
	color: #888888;
	margin-left: 8px;
}
.h_left a {
	margin-left: 0;
	margin-right: 8px;
}
.h_left a:hover, .h_right a:hover, .h_right_big a:hover {
	text-decoration: underline;
	color: #AAAAAA;
}

.h_right_big { margin-top: -40px !important }




/** Plain tekst (blokktekst) */
.plain { font-family: "Courier New", Courier, monospace }


/** Gjennomsiktighet */
.op25 {
	/* 25 % */
	opacity: 0.25;
	filter: alpha(opacity=25);
}
.op50 {
	/* 50 % */
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.op75 {
	/* 75 % */
	opacity: 0.75;
	filter: alpha(opacity=75);
}
/* fjern gjennomsiktighet på linker ved hover */
a.op25:hover, a:hover .op25,
a.op50:hover, a:hover .op50,
a.op75:hover, a:hover .op75 { opacity: 1; filter: alpha(opacity=100) }


/** Plassere ting i midten på siden (block elementer) */
.center {
	margin-left: auto;
	margin-right: auto;
}


/** Skjule ting (som senere kan vises med javascript f.eks. */
.hide { display: none }


/** Ikke wrappe ting */
.nowrap { white-space: nowrap }
.wrap { white-space: normal }






body {
	background-color: #CCC;
}

#a_top {
	padding: 10px;
	font-size: 20px;
}
#a_main {
	background-color: #FFFFFF;
	/*overflow: hidden;*/
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	position: relative;
	z-index: 2;
}
#a_menu_bg {
	z-index: 2;
	position: absolute;
	width: 180px;
	background-color: #EEE;
	left: 0;
	top: 0;
	height: 100%;
	border-right: 1px solid #DDD;
}
#a_menu {
	padding: 0 10px;
	width: 160px;
	float: left;
	position: relative;
	z-index: 3;
}
#a_content {
	padding: 1px 10px;
	margin-left: 181px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 3;
}
#a_footer {
	padding: 10px;
}
#a_top p, #a_footer p {
	margin: 0;
}



/** Noder */
#node_a_wrap {
	padding: 0;
	border-top: 0;
}
.node_a_left {
	float: left;
	width: 22%;
}
.node_a_menu {
	padding: 5px;
}
.node_a_menu ul {
	margin: 0;
	padding: 0 0 0 0;
	list-style-type: none;
}
.node_a_menu ul ul {
	padding: 4px 0 0 0;
}
.node_a_menu ul ul li {
	background-image: url(/static/other/menu_li.gif);
	/*background-color: #EEE;*/
	background-position: left top;
	background-repeat: no-repeat;
	padding: 2px 0 2px 10px;
}
.node_a_menu ul li {
	margin: 0;
	padding: 2px 0;
	font-size: 12px;
}
.node_a_menu li a {
	color: #666666;
	text-decoration: none;
}
.node_a_menu li a:hover {
	color: #666666;
	text-decoration: underline;
}
.node_a_menu a.active {
	/*font-weight: bold;*/
	background-color: #333;
	color: #DDD;
	padding: 2px;
	margin: -2px;
}
.node_a_menu a.active:hover {
	color: #DDD;
}
/*.node_a_right {
	float: left;
	width: 78%;
}*/
.node_a_path {
	padding: 5px 10px;
	margin: 0 -10px;
	background-color: #777;
	color: #EEE;
}
.node_a_path ul {
	margin: 0;
	padding: 4px 0 0 0;
	list-style-type: none;
	overflow: hidden;
}
.node_a_path ul li {
	margin: 0 5px 0 0;
	padding: 0;
	float: left;
	font-size: 11px;
}
.node_a_path a {
	text-decoration: none;
	color: #EEE;
}
.node_a_path a:hover {
	text-decoration: underline;
	color: #EEE;
}
.node_a_content {
	padding: 0;
}


/** Bildebehandler */
.a_images_upload {
	background-color: #F3F3F3;
	padding: 0 10px;
	overflow: hidden;
}
.a_images {
	padding: 5px;
	text-align: center;
	background-color: #F3F3F3;
	margin: 10px 0;
}
.a_images .a_image_block {
	display: inline-block;
	text-align: center;
	min-width: 216px;
}
.a_images p {
	display: inline-block;
	padding: 5px;
	border: 1px solid #CCC;
	margin: 3px;
	position: relative;
	vertical-align: middle;
	background-color: #FFF;
}
.a_images img { display: block }
.a_images p .a_image_p {
	position: absolute;
	top: 5px;
	left: 5px;
}
.a_images p .a_image_p span {
	position: absolute;
	display: none;
	left: 0;
	bottom: 0;
	padding: 3px;
	margin: 0 0;
	background-color: #FFFFFF;
	border: 2px solid #000;
	z-index: 3;
	white-space: nowrap;
}
.a_images p:hover .a_image_p span {
	display: block;
}






/** Billettsystemet */
.billettvakt_boks {
	border: 1px solid #DDD;
	padding: 0 10px;
	margin: 10px 0;
	background-color: #F8F8F8;
}
.billettboks_left {
	float: left;
	width: 39%;
}
.billettboks_right {
	float: right;
	width: 59%;
}
.billettboks_clear {
	clear: both;
}

.billett_scan_focus {
	background-color: #EEE;
	border: 1px solid #333;
}
.billett_scan_error, .billett_scan_error_p, .billett_scan_404 {
	background-color: #F00;
}
.billett_scan_used {
	background-color: #00F;
}
.billett_scan_ok {
	background-color: #0F0;
}
.billett_scan_nobg {
	background-color: #F8F8F8;
}
.billett_scan_info {
	max-width: 250px;
	margin: 10px auto;
	padding: 0 10px;
	background-color: #FFF;
	overflow: hidden;
}
.billett_scan_info dl {
	margin: 10px 0;
}
.billett_info_type, .billett_info_result {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
.billett_info_result_error {
	color: #FF0000;
}

.old_event { opacity: 0.4; }
.old_event:hover { opacity: 0.8; }


/** boxHandle */
.box_handle_normal {  }
.box_handle_hover {
	background-color: #D8D8D8 !important;
}
.box_handle_checked {
	background-color: #D8DEAB !important;
}
.box_handle_checked_hover {
	background-color: #E2E7C0 !important;
}

/* for gallerier */
.gi_hidden.box_handle_normal { background-color: #F4E5E5 !important }
.gi_hidden.box_handle_hover { background-color: #F5D8D8 !important }
.gi_hidden.box_handle_checked { background-color: #DFA0A2 !important }
.gi_hidden.box_handle_checked_hover { background-color: #E7B4B6 !important }