						<div class='ansatteFrame'>
                            <h1>Ansatte</h1>
							<img src="graphics/images/deansatte.jpg" width="200" height="133" border="1" align="right">
							<p>
								Dersom du trenger &aring; komme i kontakt med noen av de
                            	ulike avdelingene ved Blindern Studenterhjem s&aring;
                            	finner du kontaktinformasjon her:
							</p>
                        </div>


                        <div class='ansatteFrame'>
                        	<h2>Styret</h2>
                        	<img src="graphics/images/steinar_husfar.jpg" width="75" height="113" align="left">
                        	<p>
								<strong>Husfar/Styreleder:</strong>Steinar Kristoffersen<br>
                                <strong>E-post:</strong>sk@hiof.no<br>
                                <strong>Mobiltelefon:</strong>92 66 98 31
							</p>
                    	</div>

						<div class='ansatteFrame'>
							<h2>Administrasjon</h2>
							<img src="graphics/images/dagligleder.jpg" width="75" height="113" border="1" align="left">
							<p>
								<strong>Kontor</strong><br>
								<strong>E-post:</strong>post@blindern-studenterhjem.no<br>
								<strong>Telefon:</strong>23 33 15 00<br><br>
								<strong>Daglig leder:</strong> Gro Osland<br>
								<strong>Telefon:</strong> 23 33 15 58
							</p>
						</div>

						<div class='ansatteFrame'>
							<h2>Kj&oslash;kken</h2>
							<img src="graphics/images/" width="75" height="113" border="1" align="left">
							<p>
								<strong>Kj&oslash;kkensjef:</strong>Anne Karine R&oslash;e<br>
								<strong>E-post:</strong>anne.karine.roe@blindern-studenterhjem.no<br>
								<strong>Telefon:</strong> 23 33 15 51
							</p>
						</div>

						<div class='ansatteFrame'>
							<h2>Vedlikehold</h2>
							<img src="graphics/images/vedlikeholdsleder.jpg" width="75" height="113" border="1" align="left">
							<p>
								<strong>Vedlikeholdsleder:</strong>Petter Gripheim<br>
								<strong>E-post:</strong> petter.gripheim@blindern-studenterhjem.no<br>
								<strong>Telefon:</strong> 23 33 15 57<br>
								<strong>Mobil:</strong> 95 82 75 62
							</p>
						</div>