			<h1>Arrangementer</h1>
			<h2>Arrangementplan for h&oslash;sten 2010</h2>
			<dl class="arrangementer">
				<dt>21. august</dt>
				<dd>Rebusløp og velkommen hjem fest</dd>
				
				<dt>29. august</dt>
				<dd>Pygmemiddag m/cafe avec</dd>
				
				<dt>4. september</dt>
				<dd>Pygmetur til Småbruket (hytta)</dd>
				
				<dt>11. september</dt>
				<dd>Temafest (tema: eventyr)</dd>
				
				<dt>25. september</dt>
				<dd>Sølecup</dd>
				
				<dt>1. oktober</dt>
				<dd>Pigefaarsamlingens semestermøte og PPP</dd>
				
				<dt>16. oktober</dt>
				<dd>Høstball</dd>
				
				<dt>17. oktober</dt>
				<dd>Cafe avec</dd>
				
				<dt>6. november</dt>
				<dd>Togafest</dd>
				
				<dt>12. november</dt>
				<dd>Hyttedugnad</dd>
				
				<dt>20. november</dt>
				<dd>Revysus</dd>
				
				<dt>27. november</dt>
				<dd>Temafest</dd>
				
				<dt>3. desember</dt>
				<dd>Julemøte</dd>
			</dl>
			<p>Sist oppdatert 14. oktober 2010.</p>
			<!--<p>Ikke fastslåtte tidspunkter:</p>
			<ul class="arrangementer">
				<li>Hyttedugnad</li>
			</ul>-->