							<h2>Hyttestyret</h2>
                            <img src="graphics/images/hytte_dugnad.jpg" width="200" height="133" border="1" align="right">
							<h2>Kort om Sm&aring;bruket</h2>
							<p>
                            	Sm&aring;bruket er en t&oslash;mmerhutte som ligger
                            	vakkert til midt i B&aelig;rumsmarka. Den er omkranset
                            	av gode tur- og skimuligheter som kan gi flotte naturopplevelser.
                            	For dem som trives best inne, varmer peisen i den
                            	store stua, mens badstuen gj&oslash;r seg klar i kjelleren.
                            	Det er et godt utstyrt kj&oslash;kken som gir matlagingsmuligheter.
                            	Sm&aring;bruket passer til kollokvieturer, rekreasjon,
                            	klasseturer og til alle som &oslash;nsker et avbrekk
                            	fra byens mas og jag.
							</p>

                          	<h2>Informasjon om utleie av Småbruket</h2>
                            <p>
								Dersom du er interessert i &aring; leie Sm&aring;bruket
                            	s&aring; kontakt utleieansvarlig: <br>
                            	<strong>Epost:</strong>hyttestyret@gmail.com<br>
                            	<strong>Telefon:</strong> 91680393<br>
                            	S&aring; snart du har tatt kontakt med oss s&aring;
								vil du motta en epost fra oss med veibeskrivelse
								og videre informasjon.
							</p>
                            <p>
                            	Et reserveringsdepositum p&aring; 600kr m&aring; betales
                            	maks en uke etter reservering av hytta. Du har da
                            	gjort endelig reservering. Husk &aring; merke giroen
                            	med navn og dato for leien. Minst en uke f&oslash;r
                            	avreise tar du kontakt med utleieansvarlig for &aring;
                            	avtale overlevering av n&oslash;kkel, samt skrive
                            	under en leiekontrakt.
                            </p>
                            <p>
                            	Etter turen tar du kontakt med utleieansvarlig for
                            	&aring; levere tilbake n&oslash;kkel og lignende.
                            	Du m&aring; ogs&aring; opplyse hvor mange personer
                            	som brukte hytta samt hvor mange vedsekker som er
                            	brukt.
                            </p>

                            <h2>Hva kan Sm&aring;bruket tilby?</h2>
                            <p>
                            	- 	20 sengeplasser og hems med madrasser (plass til 33 personer).<br>
                            	- 	Stor stue med peis.<br>
                            	- 	Brettspill, kort, gitar og stereoanlegg.<br>
                            	- 	Flott kj&oslash;kken (oppf&oslash;rt i 2007) med
	                            	stort kj&oslash;leskap, komfyr, nytt servise, og det
                            		du ellers skulle trenge for &aring; lage et
									gourmetm&aring;ltid.<br>
								- Vedfyrt badstue.<br>
                            </p>