				<h1>Velkommen til Blindern Studenterhjem</h1>
				<img src="graphics/images/bs_hovedbygg1_liten.jpg" width="200" height="150" border="1" align="right">
				<h2> Like ved UiO</h2>
				<p>
					I et praktfullt beliggende hageanlegg p&aring; Blindern,
					like ved Universitetet i Oslo, kan Blindern Studenterhjem
					tilby et rikt bofelleskap for 220 studenter.
				</p>
				<h2>&Aring;pent for alle studenter</h2>
				<p>
					Blindern Studenterhjem (BS) er en privat stiftelse
					som drives uten &oslash;konomisk fortjeneste som m&aring;l.
					Stedet skal v&aelig;re et godt studenthjem for studenter
					fra alle kanter av landet, uansett studieretning.
				</p>
				<h2>Et unikt sosialt milj&oslash;</h2>
				<p>
					Blindern Studenterhjem er kjent for sitt sterke sosiale
					milj&oslash;. Hvert &aring;r arrangeres en rekke tradisjonsrike
					arrangementer og fester, hvorav noen kan spores tilbake
					til &aring;pningen av Studenthjemmet i 1925. Som beboer
					har man mulighet til &aring; engasjere seg i flere
					foreninger, av sosial eller administrativ art. Studenter
					sitter i organer som tar aktivt del i avgj&oslash;relsene
					p&aring; Studenthjemmet og har stor grad av medbestemmelsesrett.
				</p>
				<div class="soknadReklame">
					<h2>Ledige plasser 2010 - S&oslash;k deg inn</h2>
					<a href="site.php?category=2&id=1">Opptak for h&oslash;sten -10 er igang. Trykk her for &aring; komme til s&oslash;knadsskjemaet.</a>
				</div>
				<h2>Tre m&aring;ltider per dag er inkludert i husleien</h2>
				<p>
					Som beboer p&aring; Blindern Studenterhjem
					f&aring;r man servert tre m&aring;ltider hver dag,
					alle til fleksible tider. De daglige m&aring;ltidene
					s&oslash;rger for et sunt kosthold samtidig som de
					er sv&aelig;rt tidsbesparende for beboerne, og er
					noe av det som gj&oslash;r Blindern Studenterhjem
					til et godt og unikt sted &aring; bo.
				</p>
				<h2>Informasjon og sp&oslash;rsm&aring;l</h2>
				<p>P&aring; denne nettsiden finner du informasjon om
					hva Blindern Studenterhjem er, hva slags boforhold
					Studenthjemmet tilbyr og hvordan du kan s&oslash;ke
					om plass. Videre finner du informasjon om Studenthjemmets
					historie og oppbygning. Du kan ogs&aring; lese om
					ulike studenterforeninger. Dersom du har sp&oslash;rsm&aring;l
					som ikke blir besvart p&aring; disse nettsidene, ta
					gjerne kontakt med adminstrasjonen. E-postadresse
					og telefonnummer <a href="site.php?category=4&id=0">finner
					du her</a>.
				</p>
