							<h1>S&oslash;knad om plass</h1>
                            <h2>S&oslash;knadsskjema</h2>
                            <p>
                            	Dersom du har lest gjennom denne Internetsiden og
                            	er klar for &aring; s&oslash;ke deg inn p&aring; BS
                            	s&aring; har du valget mellom &aring; sende en skriftlig,
                            	eller en elektronisk s&oslash;knad. Begge typer s&oslash;knad
                            	blir behandlet med lik verdi.
                            </p>
                            <h2>Skriftlig s&oslash;knad</h2>
                            <p>
								Den skriftlige s&oslash;knaden kan lastes ned i to
                            	formater:
                            	<img src="../images/word_logo.gif" width="16" height="16">
                            	<a href="../files/soknad_om_inntak_BS.doc" target="_blank">Microsoft
                            	Word</a> / <img src="../images/adobe_logo.gif" width="14" height="14">
                            	<a href="../files/soknad_om_inntak.pdf" target="_blank">Adobe
                            	Acrobat</a>
							</p>

                            <h2>Send skriftlig s&oslash;knad til f&oslash;lgende adresse:</h2>
                            <p>
								Blindern Studenterhjem<br>
                            	Pb 4 Blindern <br>
                          		0313 Oslo
                          	</p>

                          	<h2>Opptak av beboere for h&oslash;sten 2009</h2>
                          	<p>
							  	Opptak av beboere for h&oslash;sten 2009 skjer
							  	fortl&oslash;pende fra og med februar 2009.
							</p>
                          	<h2>Elektronisk s&oslash;knad</h2>
                          	<p>
                            	Fyll ut alle feltene i formul&aelig;ret under
                            	for &aring; sende en elektronisk s&oslash;knad. Dersom
                            	du ikke har f&aring;tt svar innen 7 arbeidsdager s&aring;
                            	ber vi deg om &aring; sende en ny s&oslash;knad p&aring;
                            	e-post til post@blindern-studenterhjem.no
                            </p>

							<form action="soknadomplass.php?reg" method="POST">
        						<input type="hidden" name="datoen" value="Lørdag 31. Oktober 2009">
			                    <table cellspacing="0" cellpadding="1" background="" border="0">
	                              <tr>
	                                <td class='innhold' width="161"><SPAN class="text_contact">Fullt
	                                  navn:</SPAN></td>
	                                <td colspan="2"><input name="navn" type="text" class="felt" id="navn" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Kjønn</SPAN></td>

	                                <td colspan="2"><select NAME="kjonn" class='felt' id="kjonn">
	                                    <option VALUE="Mann" selected>Mann
	                                    <option VALUE="Kvinne">Kvinne </select></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Fødselsnummer:</SPAN></td>
	                                <td colspan="2"><input name="fodt" type="text" class='felt' id="fodt" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">N&aring;v&aelig;rende
	                                  adresse:</SPAN></td>

	                                <td colspan="2"><input name="adresse" type="text" class="felt" id="adresse" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Postnr.
	                                  og sted:</SPAN></td>
	                                <td colspan="2"><input name="postnr" type="text" class='felt' id="postnr" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Telefon:</SPAN></td>
	                                <td colspan="2"><input name="telefon" type="text" class='felt' id="telefon" style="width:260px" size="40"></td>

	                              </tr>
	                              <tr>
	                                <td class='text_contact'>Mobil: </td>
	                                <td colspan="2"><input name="mobil" type="text" class='felt' id="mobil" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Hjemmestedsadresse:</SPAN></td>
	                                <td colspan="2"><input name="hjemadresse" type="text" class="felt" id="hjemadresse" style="width:260px" size="40"></td>
	                              </tr>

	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Postnr.
	                                  og sted:</SPAN></td>
	                                <td colspan="2"><input name="hjempost" type="text" class='felt' id="hjempost" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Telefon:</SPAN></td>
	                                <td colspan="2"><input name="hjemtelefon" type="text" class='felt' id="hjemtelefon" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">E-Post:</SPAN></td>

	                                <td colspan="2"><input name="epost" type="text" class='felt' id="epost" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Studium:</SPAN></td>
	                                <td colspan="2"><input name="studium" type="text" class="felt" id="studium" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">&Oslash;nsket
	                                  innflyttingsdato:</SPAN></td>
	                                <td colspan="2"><input name="innflyttingsdato" type="text" class="felt" id="innflyttingsdato" style="width:260px" size="40"></td>

	                              </tr>
	                              <tr>
	                                <td class='innhold' colspan="3"><br> <table border="0">
	                                    <tr>
	                                      <td valign="top"><SPAN class="text_contact">I
	                                        tilfelle du ikke kommer ved semesterstart,
	                                        <br>
	                                        hvor lenge vil du at søknaden skal gjelde:</SPAN></td>
	                                      <td>&nbsp;&nbsp;<span class="text_contact">Antall
	                                        mnd: </span> <input name="antallmndsoknad" type="text" class='felt' id="antallmndsoknad" style="width:70px" size="40">
	                                        <SPAN class="text_contact"></SPAN></td>

	                                    </tr>
	                                  </table>
	                                  <br></td>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Røyker</SPAN></td>
	                                <td colspan="2"><select NAME="royker" class='felt' id="royker">
	                                    <option VALUE="Ja">Ja
	                                    <option VALUE="Nei" SELECTED>Nei </select></td>
	                              </tr>

	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Allergisk
	                                  mot:</SPAN></td>
	                                <td colspan="2"><input name="allergi" type="text" class="felt" id="allergi" style="width:260px" size="40"></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><p><SPAN class="text_contact">Skriv
	                                    en beskrivelse av deg selv og dine interesser.
	                                    Dette kreves for at din søknad skal tas i
	                                    betraktning. </SPAN><SPAN class="text_contact">Skriv
	                                    ogs&aring; navn p&aring; tidligere beboere
	                                    eller n&aring;v&aelig;rende beboere dersom
	                                    du &oslash;nsker/har referanser. </SPAN><SPAN class="text_contact">Se
	                                    tekst om hva som legges vekt p&aring; ved
	                                    s&oslash;knad <a href="../sokdeginn.html" target="_blank">her.</a>
	                                    </SPAN></p></td>

	                                <td colspan="2"><textarea name="omperson" cols=40 rows=8 class='text_contact' id="omperson"></textarea></td>
	                              </tr>
	                              <tr>
	                                <td class='innhold'><SPAN class="text_contact">Kommentarer
	                                  eller <br>
	                                  &oslash;vrige opplysninger:</SPAN></td>
	                                <td colspan="2"><textarea name="kommentar" cols=40 rows=5 class='text_contact' id="kommentar"></textarea></td>
	                              </tr>

	                              <tr>
	                                <td rowspan="4" class='innhold'><SPAN class="text_contact">Hvordan
	                                  har du hørt<br>
	                                  om vårt nettsted?<br>
	                                  (merk det som passer)</SPAN></td>
	                                <td width="119" class="text_contact"><input type="checkbox" name="google" value="google" id="google">
	                                  Google</td>
	                                <td width="189" class="text_contact"><input name="venner" type="checkbox" id="venner" value="venner">

	                                  Venner/bekjente</td>
	                              </tr>
	                              <tr>
	                                <td class="text_contact"><input name="annenmotor" type="checkbox" id="annenmotor" value="annenmotor">
	                                  Annen s&oslash;kemotor</td>
	                                <td width="189" class="text_contact"><input name="avis" type="checkbox" id="avis" value="avis">
	                                  Annonse i avis</td>

	                              </tr>
	                              <tr>
	                                <td class="text_contact"><input name="familie" type="checkbox" id="familie" value="familie">
	                                  Familie</td>
	                                <td class="text_contact"><input name="annetsted" type="checkbox" id="annetsted" value="annetsted">
	                                  Annet</td>
	                              </tr>
	                              <tr>
	                                <td class="text_contact"><input name="finn" type="checkbox" id="finn" value="finn">

	                                  Finn.no</td>
	                                <td width="189" class="text_contact">&nbsp;</td>
	                              </tr>
	                              <tr>
	                                <td colspan="3" align="right"> <input type="submit" value="Send" class="knapp"></td>
	                              </tr>
	                            </table>
	                        </form>