RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.blindern-studenterhjem.no$ [NC]
RewriteRule ^(.*)$ http://blindern-studenterhjem.no/$1 [R=301,L]

RewriteRule ^index$ / [R=301,L]

RewriteRule ^velkommen.pdf$ /dokumenter/velkommen.pdf [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
