RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.blindern-studenterhjem.no$ [NC]
RewriteRule ^(.*)$ http://blindern-studenterhjem.no/$1 [R=301,L]

RewriteRule ^index$ / [R=301,L]
RewriteRule ^studentboliger(/?|/.*)$ /studentbolig$1 [R=301,L]
RewriteRule ^foreninger/arrangementsplan$ /foreninger/arrangementplan [R=301,L]
RewriteRule ^småbruket$ /smaabruket [R=301,L]
RewriteRule ^studentbolig/omvisning(.*)$ /omvisning$1 [R=301,L]
RewriteRule ^foreninger/tradisjoner$ /livet [R=301,L]
RewriteRule ^foreninger(.*)$ /livet$1 [R=301,L]
RewriteRule ^tennis$ /beboer#tennis [R=302,L,NE]
RewriteRule ^arr$ /wiki/Arrangementplan_høst_2013 [R=302,L]

RewriteRule ^velkommen.pdf$ /dokumenter/velkomstbok_aug_2012.pdf [L,R=301]
RewriteRule ^statutter$ /dokumenter/statutter/ [L,R=301]
RewriteRule ^dokumenter/statutter.pdf$ /dokumenter/statutter/statutter.pdf [L]

RewriteRule ^undersokelse/(.*)$ http://lento.no-ip.info/bs-data/survey2/index.php?sid=87749&token=$1 [L,R=302]
RewriteRule ^undersokelse$ http://lento.no-ip.info/bs-data/survey2/index.php?sid=87749 [L,R=302]

# Facebook Oppslagstavle
RewriteRule ^(fb|facebook)/?$ https://www.facebook.com/groups/274958321716/ [L,R]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !lang_nb
RewriteRule . /index.php [L]
