html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
html {
	overflow-y: scroll;
}
body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	color: #222;
	
	background: #A9A9A2 url(../graphics/layout/athene-bakgrunn.gif) repeat;
}

#body_wrap {
	background: url(../graphics/layout/bakgrunn-opacity.png) repeat-x;
	min-width: 900px;
	min-height: 100%;
	overflow: hidden;
}

#container {
	width: 900px; /* uten banner */
	/*width: 1110px; /* med banner */
	
	margin-left: auto;
	margin-right: auto;
}
#main {
	float: left;
	width: 900px;
	background-color: #DDD;
	margin-bottom: 10px;
}
#footer_spacer {
	height: 10px;
}

#header {
	height: 210px;
	position: relative;
	background: url(../graphics/layout/toppbilde3.jpg) no-repeat;
}
.lang_en #header {
	background-image: url(../graphics/layout/toppbilde_en.jpg);
}
#header h1 {
	height: 210px;
	margin: 0;
}
#header h1 a {
	display: block;
	height: 210px;
}
#header h1 span {
	display: none;
}

/* lenke til arrangement */
#banner {
	float: right;
	width: 200px;
}
#banner img {
	border: 0;
	margin: 0;
	display: block;
}


/* hovedmenyen */
#menu_main {
	background: #333 url(../graphics/layout/menu_bg.png) repeat-x center center;
	/*text-align: center;*/
	margin: 0;
	padding: 0 0 0 0;
	/*overflow: hidden; erstattet med height for å kunne ha flytende undermeny utenfor */
	line-height: 20px;
	height: 40px;
}
#menu_main li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#menu_main li.activesub a {
	background-color: #DDD;
	color: #333;
}
#menu_main a {
	display: block;
	color: #EEE;
	font-size: 16px;
	text-decoration: none;
	padding: 10px;
}
#menu_main li:first-child a {
	padding-left: 20px;
}
#menu_main a:hover {
	text-decoration: underline;
}
#menu_main .langsel {
	float: right;
}
#menu_main .beboerlenke {
	float: left;
	position: relative;
}
#menu_main .beboerlenke a {
	color: #FBF2BB;
}
#menu_main .langsel:last-child a {
	padding-right: 20px;
}

/* spesialmeny beboerlenke */
#menu_main .beboerlenke ul {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 40px;
	margin: 0;
	padding: 0 0 0 10px;
	opacity: 0.95;
}
#menu_main .beboerlenke:hover ul {
	display: block;
}
#menu_main .beboerlenke li {
	background-color: #333;
	float: none;
}

#menu_main .beboerlenke li a {
	padding: 5px 10px 7px 10px;
}
#menu_main .beboerlenke .beboerlenke_quicklinks_desc {
	color: #DDD;
	padding: 10px 10px 5px 10px;
	font-style: italic;
	font-size: 16px;
	background-color: #444;
}


/* undermenyen */
#menu_sub {
	background-color: #DDD;
	font-family: Arial, Helvetica, sans-serif;
	
	margin: 0 0 -10px 0;
	padding: 10px 0 0 10px;
	
	overflow: hidden;
}
#menu_sub li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu_sub a {
	display: block;
	background: #444 url(../graphics/layout/menu_bg.png) repeat-x top;
	
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
	margin-right: 5px;
	padding: 5px 10px;
	
	line-height: 15px;
	
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#menu_sub .active a, #menu_sub a:hover {
	background-color: #FFF;
	background-image: none;
	color: #222;
}
#menu_sub a:hover {
	text-decoration: underline;
}



#content {
	padding: 10px;
	margin: 10px 10px 0 10px;
	background-color: #FFF;
	
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}
#content.content_no_sub {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#content p { max-width: 600px }
#content ul { max-width: 570px }
#content_clear { clear: both; height: 1px; margin-top: -4px }

img {
	border: 1px solid #000;
	margin: 5px;
}
.img_right {
	float: right;
	clear: right;
	margin: 5px 0 5px 5px;
}
.img a {
	text-decoration: none;
	color: inherit;
}
.img_top {
	margin-top: 0;
}
#content .img_right img {
	margin: 0;
}

#footer {
	background-color: #cecece;
	text-align: center;
	overflow: hidden;
}
#footer p { margin: 3px 0 }

p {
	margin: 0 0 13px 0;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 10px;

}
h2 { margin: 0 }
h2, h3 {
	margin: 15px 0 2px 0;
}
#menu_sub h1, h2, h3, legend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

h2 {
	font-size: 16px;
}
h3 {
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
}

.clear { clear: both }

dl {
	margin: 0 0 1em 0;
	line-height: 1.3em;
	overflow: hidden;
}
dl dt {
	float: left;
	clear: left;
	font-weight: bold;
	/*margin: 0 10px 0 20px;*/
}
dl dd {
	
}

ul {
	margin: 0 0 10px;
	padding: 0 0 0 30px;
}
ul li, ol li {
	margin: 3px 0;
}
ul.spaced li {
	margin: 0.8em 0;
}
.ul_header {
	margin: 15px 0 0;
}

.u { text-decoration: underline }


.subsection {
	overflow: hidden;
	margin-bottom: 10px;
}
#content .subsection h2 {
	margin-top: 5px;
}
.subsection img.subimg {
	float: right;
	clear: right;
	margin-right: 0;
}
.subsection.subimgleft img.subimg {
	float: left;
	clear: left;
	margin: 5px 5px 5px 0;
}
.subsection p.subimg {
	float: right;
	clear: right;
	margin-right: 0;
}


p.img {
	/*display: inline-block;*/
	margin: 5px;
}
p.img_right {
	margin-right: 0;
}
p.img img {
	display: block;
	margin: 0;
}
p.img span {
	display: block;
	font-style: italic;
	font-size: 11px;
	
	max-width: 220px;
	line-height: 1.3em;
	margin-top: 2px;
}


.creds {
	font-style: italic;
	font-size: 10px;
}
.imgnote {
	font-style: italic;
	font-size: 10px;
	margin: 0 0 10px;
	padding: 3px;
	border: 1px solid #333;
	background-color: #EEE;
	border-top: 0;
}


/** Administrasjon */
.adm_kontakt dt {
	font-weight: normal;
	margin-right: 0.5em;
}
.adm_kontakt dt:after {
	content: ":";
}
.adm_kontakt dd {
	margin-left: 80px;
}

.adm_konto dt {
	margin-top: 1em;
	float: none;
	font-weight: normal;
}
.adm_konto dt:after {
	content: ":";
}
.adm_konto dd {
	margin: 0;
}


/** Ansatte */
#ansatte {
	margin-bottom: 20px;
}
#ansatte h2 {
	margin-top: 1.5em;
}
.ansatteFrame, .ansatteFrame2 {
	overflow: hidden;
}
.ansatteFrame2 {
	margin: 10px 0 15px 30px;
	padding: 1px 1px 1px 11px;
	max-width: 540px;
}
.ansatteFrame img {
	float: right;
}
#content .ansatteFrame2 img {
	float: right;
	border: 1px solid #555;
	margin: 10px;
}
.ansatte_info {
	overflow: hidden;
}
.ansatteFrame2/*:hover*/ {
	background-color: #FAFAFA;
	border-radius: 5px;
	border: 1px solid #EEE;
	padding: 0 0 0 10px;
}
.ansatteFrame2:hover {
	background-color: rgba(0, 157, 202, .1);
	border-color: rgba(0, 157, 202, .3);
}
.ansatteFrame2 dl {
	margin: 10px 0;
	line-height: 1.4em;
}
.ansatteFrame2 dt {
	float: left;
	clear: left;
	font-weight: bold;
	padding-right: 10px;
}
.ansatteFrame2 dd {
	margin-left: 120px;
}


/** Tabell for leiepriser */
.table, .leiepriser {
	border: 1px solid black;
	border-collapse: collapse;
	/*width: 54%;*/
	margin-bottom: 1em;
}

.table th,
.leiepriser th {
	text-align: left;
	background-color: #EEEEEE;
}

.table td, .table th,
.leiepriser td, .leiepriser th {
	border: 1px solid black;
	padding: 2px 4px;
}
.leiepriser .td_indent { padding-left: 20px }
.roed {
	background-color: red;
}


/** Arrangementsplan */
dl.arrangementer {
	margin: 1em 0;
	line-height: 1.3em;
}
dl.arrangementer dt {
	float: left;
	clear: left;
	width: 150px;
	text-align: right;
	font-weight: normal;
}
dl.arrangementer dd {
	margin-left: 170px;
}
ul.arrangementer {
	margin: 1em 0;
}
ul.arrangementer li {
	margin-left: 2em;
}

#arrangementer_head {
	margin: 0;
	padding: 0;
}
#arrangementer_head:before {
	content: "Periode: ";
}
#arrangementer_head li {
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px;
	display: inline-block;
}


/** Foreninger */
.foreninger .subsection,
.subsection_left .subsection,
.hytta .subsection {
	width: 600px;
	padding: 20px;
	margin: 40px auto;
	background-color: #F3F3F3;
	border: 1px solid #DDD;
}
.foreninger .subsection h2,
.subsection_left .subsection h2,
.hytta .subsection h2 {
	font-size: 16px;
	margin-bottom: 15px !important;
	border-bottom: 1px solid #DDD;
}
.foreninger .subsection p {
	max-width: 350px !important;
	text-align: justify;
}
.foreninger .subsection h2 {
	max-width: 350px;
}
.foreninger .subsection.noimg p, .foreninger .subsection.noimg h2 {
	max-width: none !important;
}


/** Hyttestyret */
.hytta .subsection,
.subsection_left .subsection {
	width: 540px;
	margin: 30px 0 25px 20px;
	padding-bottom: 10px;
}
.hyttestyret_table {
	border: 2px solid #DDD;
	border-collapse: collapse;
	margin-top: 20px;
}
.subsection .hyttestyret_table {
	width: 540px;
}
.hyttestyret_table th {
	text-align: center;
	background-color: #EEE;
}
.hyttestyret_table th span {
	display: block;
	font-size: 9px;
	font-weight: normal;
	color: #555;
}
.hyttestyret_table th span:before {
	content: "(";
}
.hyttestyret_table th span:after {
	content: ")";
}
.hyttestyret_table td, .hyttestyret_table th {
	border: 1px solid #DDD;
	padding: 5px;
	line-height: 1em;
}
.hyttestyret_kalender td.uke {
	background-color: #F3F3F3;
	text-align: center;
	font-size: 11px;
}
.hyttestyret_legend.ledig span, .hyttestyret_kalender td.ledig {
	background-color: #FFFFFF;
}
.hyttestyret_legend.reservert span, .hyttestyret_kalender td.reservert {
	background-color: #FFFFAA;
}
.hyttestyret_legend.reservert2 span, .hyttestyret_kalender td.reservert2 {
	background-color: #AAAAFF;
}
.hyttestyret_legend.reservert3 span, .hyttestyret_kalender td.reservert3 {
	background-color: #AAFFAA;
}
.hyttestyret_kalender td.reservert:after,
.hyttestyret_kalender td.reservert2:after,
.hyttestyret_kalender td.reservert3:after
 {
	content: " (reservert)";
}
.hyttestyret_legend.opptatt span, .hyttestyret_kalender td.opptatt {
	background-color: #FFAAAA;
}
.hyttestyret_kalender td {
	text-align: right;
	font-size: 10px;
}
.hyttestyret_kalender td.idag {
	border-bottom: 4px solid #AAA;
}
.hyttestyret_kalender td.idag:after {
	content: " (i dag)";
	font-weight: bold;
}
.hyttestyret_kalender td.idag span {
	font-weight: bold;
}
.hyttestyret_kalender td .month {
	font-weight: bold;
}
#hyttestyret_legends {
	max-width: 600px;
	overflow: hidden;
}
.hyttestyret_legend {
	margin: 10px 0 0 15px;
	float: right;
}
.hyttestyret_legend span {
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	border: 1px solid #AAA;
}


/** Infoboks i toppen */
.ledigeplasser {
	position: absolute;
	right: 20px;
	bottom: 20px;
	
	/*background-color: #fdb0af;*/
	background-color: #d3e9f1;
	background-color: rgba(220, 233, 241, .8);
	width: 160px;
	padding: 8px;
	
	/*opacity: 0.9;*/
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ledigeplasser h2 {
	text-decoration: underline;
	margin: 0 0 2px 0;
}
.ledigeplasser p { margin: 10px 0 0 }
.ledigeplasser .soknadsknapp {
	text-align: center;
	padding: 0;
	margin: 10px 0 4px;
}




/** Søknadsskjema for plass på BS */
.soknadsskjema {
	border: none;
	margin: 0;
	padding: 0;
}
.soknadsskjema legend {
	display: none;
}
#content .soknadsskjema h3 {
	border: none;
	padding: 0;
	font-weight: normal;
	text-decoration: underline;
}
.soknadsskjema dt {
	font-weight: normal;
	width: 160px;
	float: left;
	clear: both;
	margin-right: 2px;
	margin-top: 4px;
}
.soknadsskjema dd {
	margin-bottom: 5px;
}
.soknadsskjema textarea {
	width: 100%;
}
.soknadsskjema .soknad_submit {
	text-align: center;
	clear: both;
	margin-bottom: 20px;
}

.soknad_feil_info {
	color: #CC3333;
	border: 2px solid #CC3333;
	padding: 5px;
}
.soknad_feil {
	color: #CC3333;
}
.soknad_sendt_tekst {
	font-family: monospace, "Courier New", Courier;
}
input.soknad_felt_lite {
	width: 100px;
}
input.soknad_felt {
	width: 160px;
}
input.soknad_felt_stor {
	width: 250px;
}


/** Bildegalleri */
#omvisning_bilde_w {
	min-height: 1200px;
}

#omvisning_nav {
	text-align: center;
	margin: 15px 0;
	font-size: 10px;
	color: #888;
}
#omvisning_back span { background: url(../graphics/arrow_undo.png) left 0 no-repeat; padding: 0 0 0 20px }
#omvisning_prev span { background: url(../graphics/arrow_left.png) left 0 no-repeat; padding: 0 0 0 20px }
#omvisning_next span { background: url(../graphics/arrow_right.png) right 0 no-repeat; padding: 0 20px 0 0 }
#omvisning_back,
#omvisning_prev,
#omvisning_next {
	background-color: #E5E5E5;
	text-decoration: none;
	padding: 5px 5px 4px;
	border: 2px solid #DDD;
	cursor: pointer;
	opacity: 0.75;
	display: inline-block;
	font-size: 13px;
	color: #333;
}
#omvisning_back:hover, #omvisning_prev:hover, #omvisning_next:hover {
	background-color: #E5E5E5;
	text-decoration: none;
	border-color: #CCC;
	opacity: 1;
}

#omvisning_bilde {
	background-color: #F3F3F3;
	padding: 5px;
	text-align: center;
	margin: 0;
	/*cursor: pointer;*/
}
#omvisning_bilde h1 {
	font-size: 18px;
}
#omvisning_bilde img {
	max-width: 98%;
	border: none;
}
#omvisning_bilde_tekst {
	margin: 5px -5px -5px -5px;
	background-color: #DDD;
	color: #333;
	padding: 4px 10px;
	display: block;
}
.omvisning_bilde_skjult {
	display: none;
}

#omvisning_liste {
	margin: 50px;
}

#omvisning_bilder_h {
	font-size: 15px;
	text-align: center;
	margin: 40px 0 20px 0;
	color: #555;
	max-width: none !important;
}
#omvisning_bilder {
	overflow: hidden;
}
.omvisning_bilder_cat, #omvisning_media {
	width: 710px;
	margin: 20px auto;
	padding: 5px 0 20px 20px;
	background-color: #F3F3F3;
}
#omvisning_bilder h2, #omvisning_media h2 {
	clear: both;
	margin-bottom: 15px;
}
#omvisning_bilder .omvisning_bilder_g p {
	display: inline-block;
	width: 216px;
	background-color: #DDD;
	margin: 2px;
	padding: 8px 5px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}
#omvisning_bilder .omvisning_bilder_g p:hover {
	background-color: #555;
	cursor: pointer;
}
#omvisning_bilder .omvisning_bilder_g a {
	width: 100%;
	height: 100%;
	display: block;
	margin: -8px -5px;
	padding: 8px 5px;
}
#omvisning_bilder .omvisning_bilder_g img {
	margin: 0;
	vertical-align: middle;
	border: 0;
}
#omvisning_bilder .omvisning_aktiv, #omvisning_bilder .omvisning_aktiv:hover {
	background-color: #3388DD;
}
#content #omvisning_bilde_w p { max-width: none }
#omvisning_media { text-align: center }
#omvisning_media h2 { text-align: left }
#omvisning_media p { max-width: none }

#omvisning_meta p {
	overflow: hidden;
	max-width: none;
	background-color: #FAFAFA;
	border: 1px solid #DDD;
	padding: 5px;
}
#omvisning_meta img {
	float: left;
	margin-right: 10px;
}
#omvisning_meta b {
	display: block;
	float: left;
	width: 100px;
}
#omvisning_meta textarea {
	width: 500px;
	height: 100px;
}

.omvisninga #container, .omvisninga #main {
	width: 100%;
}
.omvisninga #header, .omvisninga #menu_main {
	width: 900px;
}
.omvisninga .omvisning_bilder_cat {
	width: 90%;
}

#omvisning_stort {
	margin: 10px;
	text-align: center;
}
#omvisning_stort a {

}


/** Sidekart */
#sitemap { margin: 20px 0 }
#sitemap li { margin: 10px 0 0 }
#sitemap ul { margin-top: 3px }
#sitemap li ul li { margin: 0 }


/** Oppsett for digitalt arkiv */
.books_beboer {
	padding: 0 10px 10px;
	background-color: #FCF0AD;
	border: 1px solid #000;
	max-width: 600px;
}
.books_beboer p {
	margin: 10px 0 0 0;
}
ul.books {
	list-style: none;
	margin: 0;
	padding: 0;
}
#content ul.books {
	max-width: none;
}
ul.books li {
	margin: 8px 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 212px;
}
ul.books li,
ul.books li a {
	font-size: 13px;
	text-decoration: none;
}
ul.books li img {
	display: block;
	text-align: center;
}
ul.books a span.filedesc {
	/*display: block;*/
	text-decoration: underline;
}
ul.books span.filesize {
	/*display: none;*/
	font-size: 11px;
	text-decoration: none;
	color: #333333;
}
ul.jubbooks span.filesize {
	display: block;
}
/*ul.books li a span {
	display: inline-block;
}*/



/* matmeny */
.matmeny {
	width: 600px;
}



/* foreninger */
.foreninger_liste #content_clear { display: none; }
.foreninger_liste ul#menu_sub {
	margin-left: 150px;
}
.foreninger_wrap {
	margin: -10px;
	position: relative;
}
.foreninger_wrap:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 100%;
	content: "";
	background-color: #DDD;
	z-index: 0;
}
.foreninger_left {
	display: inline-block;
	width: 150px;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
	line-height: 12px;
	position: relative;
	z-index: 1;
	vertical-align: top;
}
.foreninger_content {
	display: inline-block;
	vertical-align: top;
	width: 680px;
	padding: 25px;
}

.foreninger_left ul, .foreninger_left li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.foreninger_left p {
	margin: 3px 0 0 2px;
	font-style: italic;
	color: #888;
}
.foreninger_left ul {
	margin: 3px 0 15px 0;
}
.foreninger_left li {
	padding: 4px 2px;
}
.foreninger_left li a {
	padding: 4px 2px;
	margin: -4px -2px;
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	text-decoration: none;
}
.foreninger_left li a:hover {
	background-color: #EEE;
}
.foreninger_left li.active a {
	background-color: #FFF;
}

.foreninger_content p.img_right {
	margin-left: 15px;
}
#content .foreninger_content p {
	max-width: 450px;
}


.forside #content_clear {
	display: none;
}
.forside #content {
	padding-bottom: 0;
}



.img_line {
	margin: 0 -10px;
	padding: 0 0 10px 10px;
	clear: both;
}
.img_line p {
	display: inline-block;
	vertical-align: top;
	margin: 10px 3px 4px 3px;
	
	width: 80px;
}
.img_line p:first-child {
	margin-left: 0;
}
.img_line p:last-child {
	margin-right: 0;
}
.img_line a {
	text-decoration: none;
	color: #555;
}
.img_line span.imgwrap1 {
	display: block;
	border: none;
	max-height: 52px;
	overflow: hidden;
	position: relative;
	background-color: #000;
}
.img_line span.imgwrap2 {
	display: block;
	height: 160px;
	line-height: 160px;
	position: relative;
	top: -56px;
	vertical-align: middle;
}
.img_line img {
	display: inline-block;
	
	margin: 0;
	border: 0;
	vertical-align: middle;
}




/* dette er bs */
.dette_er_bs {
	float: right;
	width: 206px;
	background-color: #F0F0F0;
	padding: 7px;
	margin: 15px 0 20px 0;
	border: 1px solid #CCC;
	font-size: 13px;
	text-align: center;
}
#content .dette_er_bs h2 {
	margin: 2px 0;
	font-size: 16px;
}
.dette_er_bs p {
	margin: 5px 0 0;
}
.soknadsknapp {
	padding: 10px;
	font-style: italic;
}
.soknadsknapp a {
	font-style: normal;
	display: inline-block;
	text-decoration: none;
	padding: 6px 10px;
	margin: 1px 0 0;
	border-radius: 3px;
	background-color: #009dca;
	background-color: rgba(0, 157, 202, .8);
	color: #FFF;
}
.soknadsknapp a:hover {
	background-color: rgba(0, 157, 202, 1);
}


/* kart på kontaktside */
.img_kontakt_kart {
	float: left;
	margin: 0 5px 0 0;
}
.img_kontakt_kart img {
	border: 0;
	margin: 4px 0 0;
}


/* mat-tider */
.mattider {
	float: right;
	background-color: #F0F0F0;
	width: 150px;
	padding: 7px;
	margin: 10px 10px 10px 10px;
	border: 1px solid #CCC;
}
#content .mattider h2 {
	margin: 0;
}
.mattider p {
	margin: 10px 0 0;
}


.right_section {
	float: right;
}
.right_section p.img,
.right_section p.img img {
	margin-right: 0;
}


#showoff {
	display: none;
}



.romgrupper {
	text-align: center;
	margin: 0 0 10px;
}
.romgruppe {
	display: inline-block;
	padding: 10px;
	margin: 0 8px 5px;
	border: 1px solid #DDD;

	background-color: rgba(0, 157, 202, .1);
	border-color: rgba(0, 157, 202, .3);

	text-align: center;

	/*background-color: #d3e9f1;
	background-color: rgba(220, 233, 241, .8);*/
}
.romgruppe a {
	text-decoration: none;
	color: inherit;
}
.romgruppe:hover {
	background-color: rgba(0, 157, 202, .2);
}
.romgruppe .h2 {
	margin-top: 0;
	font-weight: bold;
	font-size: 15px;
}
.romgruppe div {
	margin: 3px 0;
}
.romgruppe div:last-child {
	margin-bottom: 0;
}
.romgruppe .pris {
	font-style: italic;
}
.romgruppe .more {
	color: #555;
}
.romgruppe:hover .more {
	color: 000;
	text-decoration: underline;
}



.index_kart_img {
	float: left;
	margin: 2px 10px 0 0;
}
.index_kart_img img {
	border: 0;
	margin: 0;
}


.index_group {
	max-width: 450px;
	margin: 40px 75px;
}