/** {
	margin: 0;
	padding:0;
}*/

html, body {
	background-image: url(../graphics/layout/Athene-backgr.gif);
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

#container, #contentContainer, #footer {
	width:800px;
}

#container {
	margin-left: auto;
	margin-right: auto;
}

#header {
	height:100px;
}

#menu_main {
	background-color: #333;
	text-align:center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menu_main li {
	display: inline;
	list-style: none;
	margin: 0;
}
#menu_main li:before {
	content: " - ";
}
#menu_main li:first-child:before {
	content: "";
}

#menu_main a, #menu_main a:visited, #menu_main {
	color:white;
	font-family:Times new roman;
	font-size: 17px;
	text-decoration:none;
	font-style:italic;
}

#contentContainer {
	width: 780px;
	background-color: #ECECEC;
	padding-top:10px;
	padding-left:10px;
	padding-right: 10px;
}

#content_clear { clear: both }

#content {
	padding:10px;
	margin:0;
	width:590px;
	background-color:white;
	float:right;

	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#content img {
	border: 1px solid #000;
	margin: 5px;
}

#menu_sub_wrap {
	background-color:#cecece;
	width:150px;
	float: left;

	padding: 4px;
	margin-bottom: 10px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#menu_sub {
	margin: 0;
	padding: 0;
}
#menu_sub li {
	margin: 0;
	padding: 0 3px;
	list-style: none;
}


#active_page {
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}


#menu_sub a {
	display:block;
	
	width: 100%;
	height: 20px;
	border:0;
	margin: 2px -3px 0 -3px;
	padding: 0 3px;
	
	text-decoration:none;
	line-height:20px;
	
	color: black;
	
	font-size: 11px;
	font-family:Arial;
}
#menu_sub a:before {
	content: "» ";
}

#menu_sub .active a, #menu_sub a:hover{
	background-color:#ececec;
}

#footer {
	background-color:#cecece;
	text-align:center;

	overflow: hidden;
	margin-bottom: 20px;
}
#footer p { margin: 3px 0 }

body {
	font-size:13px;
	font-family: arial;
}
p {
	margin: 0 0 13px 0;
}

h1 {
	font-family: arial;
	font-size:20px;
	margin-top: 0;
	margin-bottom: 10px;

}
h2 { margin: 0 }
#content h2, #content h3 {
	margin: 15px 0 0 0;
}

.clear { clear: both }

#menu_sub h1, h2, h3, legend {
	font-family: arial;
	font-size:13px;
}

h3 {

}

dl {
	margin: 1em 0;
	line-height: 1.3em;
}
dl dt {
	float: left;
	clear: left;
	font-weight: bold;
	/*margin: 0 10px 0 20px;*/
}
dl dd {
	
}

ul {
	margin-top: 0;
}
ul li {
	margin: 3px 0;
}

/* Administrasjon */
.adm_kontakt dt {
	font-weight: normal;
	margin-right: 0.5em;
}
.adm_kontakt dt:after {
	content: ":";
}
.adm_kontakt dd {
	margin-left: 80px;
}

.adm_konto dt {
	margin-top: 1em;
	float: none;
	font-weight: normal;
}
.adm_konto dt:after {
	content: ":";
}
.adm_konto dd {
	margin: 0;
}

/* Ansatte */
.ansatteFrame, .ansatteFrame2 {
	overflow: hidden;
	margin-bottom: 1.5em;
}
.ansatteFrame img {
	float: right;
}
#content .ansatteFrame2 img {
	float: right;
	margin-right: 40px;
}
#content /*.ansatteFrame2*/ h2, #content h3 {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #EEE;
}
.ansatte_info {
	margin-left: 40px;
	overflow: hidden;
}
.ansatteFrame2 dl {
	margin: 1em 0;
	line-height: 1.4em;
}
.ansatteFrame2 dt {
	float: left;
	clear: left;
	font-weight: bold;
	padding-right: 10px;
}
.ansatteFrame2 dd {
	margin-left: 120px;
}


/*Tabell for leiepriser*/
.leiepriser {
	border: 1px solid black;
	border-collapse:collapse;
	width: 400px;
	margin-bottom: 1em;
}

.leiepriser th {
	text-align: left;
	background-color: #EEEEEE;
}

.leiepriser td, .leiepriser th {
	border: 1px solid black;
	padding: 2px;
}
.roed {
	background-color:red;
}

/* Arrangementsplan */
dl.arrangementer {
	margin: 1em 0;
	line-height: 1.3em;
}
dl.arrangementer dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	font-weight: normal;
}
dl.arrangementer dd {
	margin-left: 120px;
}
ul.arrangementer {
	margin: 1em 0;
}
ul.arrangementer li {
	margin-left: 2em;
}

/* Hyttestyret */
.hyttestyret_kalender {
	width: 100%;
	border: 2px solid #DDD;
	border-collapse: collapse;
}
.hyttestyret_kalender th {
	text-align: center;
	background-color: #EEEEEE;
}
.hyttestyret_kalender td, .hyttestyret_kalender th {
	border: 1px solid #DDD;
	padding: 5px;
}
.hyttestyret_kalender td.uke {
	background-color: #FAFAFA;
	text-align: center;
	font-size: 11px;
}
.hyttestyret_legend.ledig span, .hyttestyret_kalender td.ledig {
	background-color: #DDFFAA;
}
.hyttestyret_legend.reservert span, .hyttestyret_kalender td.reservert {
	background-color: #FFFFAA;
}
.hyttestyret_kalender td.reservert:after {
	content: " (reservert)";
}
.hyttestyret_legend.opptatt span, .hyttestyret_kalender td.opptatt {
	background-color: #FFAAAA;
}
.hyttestyret_kalender td {
	text-align: right;
	font-size: 10px;
}
.hyttestyret_kalender td.idag {
	border-bottom: 4px solid #AAA;
}
.hyttestyret_kalender td.idag:after {
	content: " (i dag)";
	font-weight: bold;
}
.hyttestyret_kalender td.idag span {
	font-weight: bold;
}
.hyttestyret_kalender td .month {
	font-weight: bold;
}
.hyttestyret_legend {
	margin: 10px 15px 0 0;
	float: right;
}
.hyttestyret_legend span {
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

/* Ledige plasser */
.ledigeplasser {
	background-color: #fdb0af;
	border: 2px solid #AAA;
	width: 148px;
	margin: 0 0 10px 0;
	float: left;
	clear: left;
	padding: 3px;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ledigeplasser h2 {
	text-decoration: underline;
	margin-bottom: 2px;
}
.ledigeplasser p { margin: 10px 0 0 }


/* Søknadsskjema for plass på BS */
.soknadsskjema {
	border: none;
	margin: 0;
	padding: 0;
}
.soknadsskjema legend {
	display: none;
}
#content .soknadsskjema h3 {
	border: none;
	padding: 0;
	font-weight: normal;
	text-decoration: underline;
}
.soknadsskjema dt {
	font-weight: normal;
	width: 150px;
	float: left;
	clear: both;
	margin-right: 2px;
}
.soknadsskjema textarea {
	width: 80%;
}
.soknadsskjema .soknad_submit {
	text-align: center;
	clear: both;
}

.soknad_feil {
	color: #FF0000;
}