/**
 * Mat-tider under studentbolig-sia
 */
.mattider {
	float: right;
	background-color: #F0F0F0;
	width: 150px;
	padding: 7px;
	margin: 10px 10px 10px 10px;
	border: 1px solid #CCC;

	h2 {
		margin: 0;
	}

	p {
		margin: 10px 0 0;
	}
}